h1{color: red;}
h2{color: brown;}
p{color: blue;}
ul{color: blue;}
body{background-color: #CCFFCC}

.agrandar{font-size: x-large; font-weight: 600;}


.verde {color: green;}

.negro {background-color: black;
     color : white;
    font-style: italic;}

